
*{
    padding: 5px;
}
body{
    background-color: rgba(217, 184, 110, 0.8);
}
nav{
    background-color: brown;
}
div{
    padding: 0px;
    display: flex;
}
#para{
    padding: 0px;
    background-color: chartreuse;
    float: left;
}
#img{
    padding: 0px;
    background-color: blueviolet;
    float: left;
}
a{
    color: wheat;
}